* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
    ;
}

.button-primary {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    height: 64px;
    background: #FD6E0A;
    border-radius: 5px;
}

.header {
    background: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;

}

/* header and navigation styles */
nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav ul {
    display: flex;
    align-items: center;

}

nav li {
    list-style: none;
    margin-left: 50px;
}

/* banner styles */
.banner {
    margin: 0 200px;
    display: flex;
    align-items: center;
}

.banner-sub-title {
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 30px;
}

.banner-title {
    font-weight: 700;
    font-size: 85px;
    margin-bottom: 30px;
}

.banner-description {
    color: #757575;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 30px;
}

/* main section  */

main {
    width: 1140px;
    margin: 0 auto;
}

/* about section styles */
.about {
    text-align: center;
    margin-top: 130px;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
}

.section-title {
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 30px;
}

.section-description {
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about.info-title {
    color: #757575;
    font-weight: 400;
    font-size: 20px;
}

.info-description {
    color: #474747;
    font-weight: 700;
    font-size: 20px;
}

/* what i do styles */
.what-i-do {
    margin-top: 130px;
    margin-bottom: 66px
}

.section-description {
    font-weight: 400;
    font-size: 18px;
    color: #757575;
    margin-top: 30px;
    margin-bottom: 14px;
    width: 909px;
    height: 90px;
    text-align: center;
}

.skills-container {
    display: flex;
    gap: 24px;
}

.skill {
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
}

.skill-title {
    font-weight: 700;
    font-size: 20px;
    color: #181818;
    margin-bottom: 20px;
    margin-top: 30px;
}

.skill-description {
    width: 201px;
    height: 196px;
    color: #757575;
}

/* resume styles */
.section-title {
    margin-top: 130px;
    margin-bottom: 113px;
    color: #181818;
    font-size: 35px;
    line-height: 48px;
}